@media (max-width:799px){
    
    .m{display: block;}
    .pc{display: none;}
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 800;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.ttf') format('truetype');
    }


    #wrapper{ max-width: 1920px; margin: 0 auto; min-width: 320px; font-family:'Apple SD Gothic Neo' ;}
    header .wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 50px 0 50px;
    }
    header .wrap h1{
        order: 1;
        font-size: 25px;
        font-weight: 800;
        text-align: center;
    }
    header .wrap .title{
        order: 3;
    }
    header .wrap .title .m{
        display: block;
        font-size: 40px;
        font-weight: 800;
        line-height: 70px;
        font-stretch: ultra-expanded;
        text-align: center;
    }
    header .wrap .title .pc{
        display: none;
    }
    header .wrap .title .name{
        border-top: 1px solid #000;
        padding-top: 20px;
        font-size:25px;
        font-weight: 500;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    header .wrap nav{
        order: 2;
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        text-align: center;
    }
    header .wrap nav .gnb{
        font-size: 23px;
        font-weight: 700;
        margin: 0;
        padding: 5px 0;
    }
    header .wrap nav .gnb::after{
        display:block;
        width: 40%;
        margin: 0 auto;
        content: '';
        border-bottom: solid 3px #000;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    header .wrap nav .gnb:hover:after{
        transform: scaleX(1);
    }
    .about .wrap .profile{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin: 0 auto;
        margin-top: 15px;
    }
    .about .wrap .profile img{
        width: 60%;
    }

    /* section1 */
    .section1{
        display: flex;
        flex-direction: column;
        gap: 60px;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
        
    }
    .section1 h3{
        color: #23578A;
        font-size: 29px;
        text-align: center;
    }
    .section1 .txt{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }
    .section1 .txt .first,
    .section1 .txt .second,
    .section1 .txt .third{
        font-size: 21px;
        line-height: 28px;
    }

    /* section2 */
    .section2{
        padding:0px 20px 80px 20px;
    }
    .section2 .wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
        gap :30px;
    }
    .section2 .wrap .myname{
        margin-bottom: auto;
        text-align: center;
    }
    .section2 .wrap .myname span{
        font-weight: 800;
        font-size: 70px;
        margin-bottom: auto;
    }
    .section2 .wrap .myprofile{
        margin-top: auto;
    }
    .section2 .wrap .myprofile .name{
        display: flex;
        flex-direction: column;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }
    .section2 .wrap .myprofile .name span{
        display: block;
    }
    .section2 .wrap .myprofile .name span:nth-child(3){
        font-size: 16px;
    }
    .section2 .wrap .myprofile .number .line{
        margin: 0 auto;
        width: 50px;
        height: 3px;
        background-color: #000;
        margin-bottom: 10px;
    }
    .section2 .wrap .myprofile .number p{
        font-size: 18px;
        font-weight: 600;
        margin: 0;
    }
    .section2 .wrap .myprofile .works{
        margin-top: 50px;
    }
    .section2 .wrap .myprofile .works h3{
        border-top:3px solid #000;
        display: inline;    
        padding-top: 5px;
    }
    .section2 .wrap .myprofile .awards{
        margin-top: 50px;
    }
    .section2 .wrap .myprofile .awards h3{
        display:inline;
        padding-top: 5px;
        border-top:3px solid #000;
    }
    .section2 .wrap .myprofile .awards p{
        margin-bottom: 0;
    }
    .section2 .wrap .skills .certificate{
        margin-top: 10px;
    }
    .section2 .wrap .skills .certificate h3{
        border-top:3px solid #000;
        display: inline;    
        padding-top: 5px;
    }

    .section2 .wrap .skills{
        margin-top: auto;
    }
    .section2 .wrap .skills .skill{
        margin-top: 50px;
    }
    .section2 .wrap .skills h3{
        border-top:3px solid #000;
        display: inline;    
        padding-top: 5px;
    }
    .section2 .wrap .skills .design h4{
        margin: 10px 0;
    }
    .section2 .wrap .skills .design .icon{
        display: flex;
        justify-content: center;
    }
    .section2 .wrap .skills .design .icon .first{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .section2 .wrap .skills .design .icon .first img{
        height: 60px;
    }
    .section2 .wrap .skills .design .icon .second{
        display: flex;
        gap: 10px;
    }
    .section2 .wrap .skills .design .icon .second img{
        height: 60px;
    }
    .section2 .wrap .skills .publishing h4{
        margin: 20px 0;
    }
    .section2 .wrap .skills .publishing .icon{
        display: flex;
        justify-content: center;
    }
    .section2 .wrap .skills .publishing .icon .first{
        display: flex;
        gap: 10px;
        margin-right: 10px;
    }
    .section2 .wrap .skills .publishing .icon .first img{
        height: 60px;
    }
    .section2 .wrap .skills .publishing .icon .second{
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .section2 .wrap .skills .publishing .icon .second img{
        height: 20px;
    }


    /* section3 */
    .section3{
        padding: 0 20px;
        margin-bottom: 50px;
    }
    .section3 .wrap{
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../images/dyson_background.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        justify-content: space-between;
        border-radius: 24px;
    }
    .section3 .wrap .left{
        margin: 0 auto;
        width: 50%;
        margin-top: 50px;
    }
    .section3 .wrap .left .res{
        margin-bottom: 25px;
    }
    .section3 .wrap .left .res span{
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .section3 .wrap .left .tit{
        display: flex;
        margin-bottom: 40px;
    }
    .section3 .wrap .left .tit span{
        color: #fff;
        font-size:20px;
        font-weight: 800;
        margin-right: 0;
    }
    .section3 .wrap .left .tit img{ 
        width: unset;
        filter: invert(100%) sepia(87%) saturate(30%) hue-rotate(141deg) brightness(108%) contrast(106%);
        margin: 0;
    }
    .section3 .wrap .left .date{
        display: none;
        margin-bottom: 15px;
    }
    .section3 .wrap .left .date span{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
    .section3 .wrap .left .exp{
        display: none;
    }
    .section3 .wrap .left .exp p{
        color: #fff;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        font-size: 15px;
        line-height: 22px;
    }
    .section3 .wrap .right{
        margin-top: auto;
        margin: 0 auto;
    }
    .section3 .wrap .right button{
        border: 1px solid #fff;
        background-color: unset;
        padding: 10px 20px;
    }
    .section3 .wrap .right button a{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    /* section4 */
    .section4{
        padding: 0 20px;
        margin-bottom: 50px;
    }
    .section4 .wrap{
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../images/gongcha_background.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100% ;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 24px;
        text-align: center;
    }
    .section4 .wrap .left{
        margin: 0 auto;
        width: 50%;
        margin-top: 50px;
    }
    .section4 .wrap .left .res{
        margin-bottom: 25px;
    }
    .section4 .wrap .left .res span{
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .section4 .wrap .left .tit{
        display: flex;
        margin-bottom: 40px;
    }
    .section4 .wrap .left .tit span{
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        margin-right: 10px;
    }
    .section4 .wrap .left .tit img{ 
        height: unset;
        margin: 0;
    }
    .section4 .wrap .left .date{
        display: none;
        margin-bottom: 15px;
    }
    .section4 .wrap .left .date span{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
    .section4 .wrap .left .exp{
        display: none;
    }
    .section4 .wrap .left .exp p{
        color: #fff;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        font-size: 15px;
        line-height: 22px;
    }
    .section4 .wrap .right{
        margin-top: auto;
        margin: 0 auto;
    }
    .section4 .wrap .right button{
        border: 1px solid #fff;
        background-color: unset;
        padding: 10px 20px;
    }
    .section4 .wrap .right button a{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    /* section5 */
    .section5{
        padding: 0 20px;
    }
    .section5 .wrap{
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../images/moca_background.jfif);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100% ;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        border-radius: 24px;
    }
    .section5 .wrap .left{
        margin: 0 auto;
        width: 50%;
        margin-top: 50px;
    }
    .section5 .wrap .left .res{
        margin-bottom: 25px;
    }
    .section5 .wrap .left .res span{
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    .section5 .wrap .left .tit{
        display: flex;
        margin-bottom: 40px;
    }
    .section5 .wrap .left .tit span{
        color: #fff;
        font-size: 29px;
        font-weight: 800;
        margin-right: 10px;
    }
    .section5 .wrap .left .tit img{ 
        height: unset;
        margin: 0;
        filter: invert(100%) sepia(87%) saturate(30%) hue-rotate(141deg) brightness(108%) contrast(106%);
    }
    .section5 .wrap .left .date{
        display: none;
        margin-bottom: 15px;
    }
    .section5 .wrap .left .date span{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
    .section5 .wrap .left .exp{
        display: none;
    }
    .section5 .wrap .left .exp p{
        color: #fff;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        font-size: 15px;
        line-height: 22px;
    }
    .section5 .wrap .right{
        margin-top: auto;
        margin: 0 auto;
    }
    .section5 .wrap .right button{
        border: 1px solid #fff;
        background-color: unset;
        padding: 10px 20px;
    }
    .section5 .wrap .right button a{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    /* contact */
    .contact{
        margin-top: 70px;
    }
    .contact .wrap{
        border-top: 1px solid #9c9c9c;
        width: 100%;
        margin: 0 auto;
        padding: 80px 50px 30px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact .wrap .top{
        margin-bottom: 20px;
    }
    .contact .wrap .top p{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 28px;
    }
    .contact .wrap .top span{
        font-size: 40px;
        font-weight: 800;
    }
    .contact .wrap .bottom{
        display: flex;
        flex-direction: column  ;
        gap: 20px;
        margin-bottom: 50px;
    }
    .contact .wrap .bottom .phone{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact .wrap .bottom .phone .material-symbols-outlined{
        margin-right: 8px;
    }
    .contact .wrap .bottom .phone .number{
        font-size: 18px;
    }
    .contact .wrap .bottom .email{
        display: flex;
        align-items: center;
    }
    .contact .wrap .bottom .email .material-symbols-outlined{
        margin-right: 8px;
    }
    .contact .wrap .bottom .email .mail{
        font-size: 18px;
    }
}